body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:flex;
    flex-direction:column;
    align-items: center;
}
h1 {
    font-family: monospace;
    font-size: 100px;
    color: #0B2EE1;
    
    
}
main{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:flex;
    flex-direction:column;
    align-items: center;
}
header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:flex;
    flex-direction:column;
    align-items: center;

}
footer{
    color: #0B2EE1;
}
a{
    color: slategray;
}
