body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:flex;
    flex-direction:column;
    align-items: center;
}
h1 {
    font-family: monospace;
    font-size: 200px;
    color:chocolate;
    
}
main{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:flex;
    flex-direction:column;
    align-items: center;
}
header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:flex;
    flex-direction:column;
    align-items: center;

}

