body{
    font-family: Georgia, 'Times New Roman', Times, serif;
  
    
}
h1 {
    font-family: helvetica;
    font-size: 70px;
    color: #21409A;
    display:flex;
    flex-direction:column;
    align-items: center;
    }
    .stuff{min-height: 100%;
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 100%;}
main{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:flex;
    flex-direction:column;
    align-items: center;
}
section {
    display: flex;
    flex-direction: column;
}
header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:flex;
    padding-left: 250px;

}
footer{
    color: #0B2EE1;
    display:flex;
    flex-direction:column;
    align-items: center;
}
a{
    color: slategray;
}

nav{
    position: sticky;
}