body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #331673;
    background-image: url(../img/blobs.png);
    }
h1 {
    font-family: hwt-gothic-round, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 70px;
    color: #03A688;
    display:flex;
    flex-direction:column;
    align-items: center;
    }
h2{
    font-family: new-spirit, serif;
    font-weight: 300;
    font-size: 30px;

font-style: normal;
   color: #D2D9D8;

}
    
    button {
        margin: 1em;
        background: transparent;
        border-radius: 5px;
        border: 1px solid; 
        padding: 1em;
        font-family: Arial, Helvetica, sans-serif, sans-serif;
        font-size: 1.5em;
        width: 300px;
        color: #21409A;  
          }
main{
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    display:flex;
    flex-direction:column;
    align-items: center;
}
section {
    display: flex;
    flex-direction: column;
}
header{
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    display:flex;
    padding-left: 250px;

}
footer{
    color: #F2E205;
    display:flex;
    flex-direction:column;
    align-items: center;
}
a{
    color: #21409A;
}

nav{
    position: sticky;
}
.linked button {
    color: #D2D9D8;
    border-color: #D2D9D8;
  }
  
  .portfolio button {
    color: #D2D9D8;
    border-color: #D2D9D8;
  }
  
  .twitter button {
    color: #D2D9D8;
    border-color:#D2D9D8;
  }
  
  button:hover {
    color: #03A688;
    
  }
  
  button:focus {
    color: #03A688;
    
    outline-offset: 3px;
  }
  
  .linked button:hover,
  .linked button:focus,
  .portfolio button:hover,
  .portfolio button:focus,
  .twitter button:hover,
  .twitter button:focus {
    border-color: #03A688;
  }
  @font-face {
    font-family: 'hwt-gothic-round, sans-serif';
    src: url('https://use.typekit.net/iic0ijx.css');
}


