body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #D2D9D8;
    
}
h1 {
    font-family: helvetica;
    font-size: 70px;
    color: #A62182;
    display:flex;
    flex-direction:column;
    align-items: center;
    }
h2{
   color: #03A688;

}
    
    button {
        margin: 1em;
        background: transparent;
        border-radius: 5px;
        border: 1px solid; 
        padding: 1em;
        font-family: Arial, Helvetica, sans-serif, sans-serif;
        font-size: 1.5em;
        width: 300px;
        color: #21409A;  
          }
main{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:flex;
    flex-direction:column;
    align-items: center;
}
section {
    display: flex;
    flex-direction: column;
}

footer{
    color: #0B2EE1;
    display:flex;
    flex-direction:column;
    align-items: center;
}
a{
    color: #21409A;
}

nav{
    position: sticky;
}
.linked button {
    color: #03A688;
    border-color: #03A688;
  }
  
  .portfolio button {
    color: #03A688;
    border-color: #03A688;
  }
  
  .twitter button {
    color: #03A688;
    border-color:#03A688;
  }
  
  button:hover {
    color: #A61F2B;
    
  }
  
  button:focus {
    color: #A62182;
    animation: gradOutline 2s infinite, gradBg 2s infinite;
    outline-offset: 3px;
  }
  
  .linked button:hover,
  .linked button:focus,
  .portfolio button:hover,
  .portfolio button:focus,
  .twitter button:hover,
  .twitter button:focus {
    border-color: #A62182;
  }